<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #0077b6;">
    <div class="container">
        <a class="navbar-brand" href="/products">Shopping App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Home</a>
            </li>
            <% if(currentUser && currentUser.Role==='seller' ){%>
                <li class="nav-item">
                    <a class="nav-link" href="/products/new">New</a>
                </li>
                <%}%>
                    <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <% if(!currentUser) { %>
            <div class="d-flex">
                <a class="btn btn-outline-dark mx-2" href="/login">Login</a>
            </div>
            <% } else { %>
                <a style="margin-left: 5px; color: white;">Hello <%-currentUser.username%></a>
                <a style="margin-left: 5px; color: white;" href="/user/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <sup><span class="badge bg-danger">
                            <%=currentUser.cart.length%>
                        </span></sup>
                </a>
                <div class="d-flex">
                    <a class="btn btn-outline-dark mx-2" href="/logout">Logout</a>
                </div>
                <% } %>
    </div>
</nav>
<br>
<br>